{% extends 'base.html' %}

{% block head_title %}
this is amazing!!!!
{% endblock head_title%}


{% block content %}
<div id='ApexGaming'></div>



<div class='row text-center'd-none'>
    <div class='col'>
        <h1>Welcome to Blogme 2</h1>
    </div>
</div>

<div class='row mb-3' d-none'>
    <div class='col-md-4 mx-auto col-10'>
        <form class='form' id='blog-create-form' method='POST' action='/create-blog'>
            {% csrf_token %}
            <div class='d-none alert alert-danger' id='blog-create-form-error'></div>
            <input type='hidden' value='/' name='next' />
            <textarea required='required' class='form-control' name='content' placeholder='Your blog...'></textarea>
            <button type='submit' class='btn btn-primary'>Blog</button>
        </form>
    </div>
</div>


<div class='row' d-none' id='blogs'>
    Loading...
</div>

<script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}



function handleBlogFormError(msg, display){
    var myErrorDiv = document.getElementById("blog-create-form-error")
    if (display === true) {
        // show error
        myErrorDiv.setAttribute("class", "d-block alert alert-danger")
        myErrorDiv.innerText = msg
    } else {
        // hide error
        myErrorDiv.setAttribute("class", "d-none alert alert-danger")
    }
}

function handleBlogCreateFormDidSumbit(event) {
    event.preventDefault()
    const myForm = event.target
    const myFormData = new FormData(myForm)
    const url = myForm.getAttribute("action")
    const method = myForm.getAttribute("method")
    const xhr = new XMLHttpRequest()
    const responseType = "json"
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.onload = function() {
        if (xhr.status === 201) {
            handleBlogFormError("", false)
            const newBlogJson = xhr.response
            const newBlogElement = formatBlogElement(newBlogJson)
            const ogHtml = blogsContainerElement.innerHTML
            blogsContainerElement.innerHTML = newBlogElement + ogHtml
            myForm.reset()
        } else if (xhr.status === 400) {
            const errorJson = xhr.response
            const contentError = errorJson.content
            let contentErrorMsg;
            if (contentError) {
                contentErrorMsg = contentError[0]
                if (contentErrorMsg) {
                    handleBlogFormError(contentErrorMsg, true)
                } else {
                    alert("An error occured. Please try again.")
                }
            } else {
                alert("An error occured. Please try again.")
            }
        } else if (xhr.status === 401) {
            alert("You must login!")
            window.location.href = "/login"
        } else if (xhr.status === 403) {
            alert("You must login!")
            window.location.href = "/login"
        }
        else if (xhr.status === 500) {
            alert("There was a server error, please try again.")
        }

    }
    xhr.onerror = function() {
        alert("An error occurred. Please try again later.")
    }
    xhr.send(myFormData)
}
const blogCreateFormEl = document.getElementById("blog-create-form")
blogCreateFormEl.addEventListener("submit", handleBlogCreateFormDidSumbit)


const blogsContainerElement = document.getElementById("blogs")

function loadBlogs(blogsElement) {
    const xhr = new XMLHttpRequest()
    const method = 'GET' // "POST"
    const url = "/blogs"
    const responseType = "json"
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response
        const listedItems = serverResponse // array
        var finalBlogStr = ""
        var i;
        for (i=0;i<listedItems.length; i++) {
            var blogObj = listedItems[i]
            var currentItem = formatBlogElement(blogObj)
            finalBlogStr += currentItem
        }
        blogsElement.innerHTML = finalBlogStr
    }
    xhr.send()
}

loadBlogs(blogsContainerElement)


function handleBlogActionBtn(blog_id, currentCount, action) {
    console.log(blog_id, currentCount)
    const url = "/api/blogs/action"
    const method="POST"
    const data = JSON.stringify({
        id: blog_id,
        action: action
    })
    const xhr = new XMLHttpRequest()
    const csrftoken = getCookie('csrftoken');
    xhr.open(method, url)
    xhr.setRequestHeader("Content-Type", "application/json")
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.setRequestHeader("X-CSRFToken", csrftoken)
    xhr.onload = function() {
        // react.js this handle the state much better
        loadBlogs(blogsContainerElement)
    }
    xhr.send(data)
    return
}


function RepostBtn(blog) {
    return "<button class='btn btn-outline-success btn-sm' onclick=handleBlogActionBtn(" +
    blog.id + "," + blog.likes + ",'repost')>Repost</button>"
}


function UnLikeBtn(blog) {
    return "<button class='btn btn-outline-primary btn-sm' onclick=handleBlogActionBtn(" +
    blog.id + "," + blog.likes + ",'unlike')>Unlike</button>"
}

function LikeBtn(blog) {
    return "<button class='btn btn-primary btn-sm' onclick=handleBlogActionBtn(" +
    blog.id + "," + blog.likes + ",'like')>" + blog.likes + " Likes</button>"
}

function formatBlogElement(blog) {
    var formattedBlog = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 blog' id='blog-" + blog.id
    + "'><p>" + blog.content +
        "</p><div class='btn-group'>" +
            LikeBtn(blog) +
            UnLikeBtn(blog) +
            RepostBtn(blog) +
        "</div></div>"
    return formattedBlog
}



</script>
{% endblock content %}
